*{
    margin: 0;
    padding: 0;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.6);
}

.active{
    display: block;
}

.hiddenScroll{
    overflow: hidden;
}

.wrapper {
    max-width: 1280px;
    margin: auto;
}

.containerStart{
    max-width: 1280px;
    margin: auto;
    top: 0;
    position: sticky;
    z-index: 1000;
}

.header{
    display: block;
    max-width: 1280px;
    margin: auto;
    background: #FFFFFF;
    padding: 30px 40px 30px 40px;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-line{
    z-index: 1000;
}

.subtitle-logo{
    margin-top: 9px;
    padding-left: 4px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    letter-spacing: 0.1em;
    color: #292929;
}

.title-logo{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    letter-spacing: 0.06em;
    color: #545454;
}

.navigation{
    box-sizing: border-box;
    height: 27px;
    width: 443px;
    display: flex;
    justify-content: space-between;
    margin-top: -3px;
    z-index: 100;
}

.menu-select a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    color: #545454;
}

.menu:hover{
    border-bottom: 3px solid #F1CDB3;
}

.menu-select{
    border-bottom: 3px solid #F1CDB3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

nav a:active,
a {
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
} 

nav a:hover{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #292929;
}

.select-animals{
    max-width: 1280px;
    margin: auto;
    background: #F6F6F6;
}


.popup-overlay{
    position: fixed;
    cursor: pointer;
    z-index: 1001;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(41, 41, 41, 0.6);
}

.popup-overlay:hover ~ .popup > .closeBtn {
    background-color: #FDDCC4;
  }


.popup{
    position: fixed;
    z-index: 1002;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.window-information{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    max-height: 500px;
    width: 70vw;
    background: #FAFAFA;
    border-radius: 9px;
    overflow-y: auto;
}

.window-information img{
    width: 500px;
}

.card-article{
    display: flex;
    flex-direction: column;
    max-width: 352px;
    margin: 50px 12px 88px 29px;
}

.card-pet-name{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 10px;
}

.card-breed{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;  
    letter-spacing: 0.06em;  
    color: #000000;
}

.card-about{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 114%;
    letter-spacing: 0.06em;
    color: #000000;
    max-width: 350px;
    margin: 40px 0 29px 0;
}

.card-article ul li{
    margin: 10px 15px;
    color: #F1CDB3;
}

.characteristic-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    font-weight: 700;
}

.characteristic-value{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
}

.closeBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -42px;
    top: -52px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    transition: ease-in-out 0.2s;
    cursor: pointer;    
    margin-right: 0;
}

.closeBtn:hover{
    background: #FDDCC4;
}


.hidden{
    display: none;
}

.no-scroll{
    overflow:  hidden;
}
.wrappers-animals{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    padding: 80px 0 100px 40px;
}

.title-animals{
    width: 400px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.animals{
    display: flex;
    flex-wrap: wrap;
    gap: 30px 40px;
}

.card{
    border-radius: 9px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 270px;
    height: 435px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.card .pet-name{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.cardBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px 44px;
    border: 2px solid #F1CDB3;
    background-color: #F6F6F6;
    box-sizing: border-box;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: -1px 0 0px 0px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin-bottom: 30px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card:hover{
    background: #FFFFFF;
    border-radius: 9px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
}

.card:hover .cardBtn{
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.select-pages{
    display: flex;
    gap: 0 20px;
}

.btnScroll{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    box-sizing: border-box;
    border-radius: 100px;
    border: none;
    transition: ease-in-out 0.2s;
    border: 2px solid #F1CDB3;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: #F6F6F6;
}

.btnStart,
.btnPrevious,
.btnNext,
.btnLast{
    transition: 0,2s;
    cursor: pointer;
}


/* .btnStart:hover,
.btnPrevious:hover,
.btnNext:hover,
.btnLast:hover{ */
.hover{
    border: 2px solid #F1CDB3;
    background-color: #F1CDB3;
}

.btnStart:active,
.btnPrevious:active,
.btnNext:active,
.btnLast:active {
  transform: scale(0.8);
}

.btnSelected{
    background: #F1CDB3;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;
}
.disable{
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    cursor: default;
    transform: none;
}
.disable:hover{
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    cursor: default;
    transform: none;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 1280px;
    background: url(../../assets/images/noise_transparent@2x.png) repeat, radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
    margin: auto;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding-top: 40px;
    gap: 0 155px
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding-top: 17px
}

.locations{
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    gap: 32px
}

.email, .phone{
    display: flex;
    align-items: center;
    gap: 20px
}
.email a:active, .phone a:active, .location a:active{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.location{
    display: flex;
    align-items: center;
    gap: 20px
}

.title-contacts{
    width: 285px;
    height: 90px;
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.title-locations{
    width: 270px;
    height: 90px;
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.text-footer{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}



/* РАЗРЕШЕНИЕ  меньше 1280px */
@media (max-width: 1279px) {

    .header{
        padding: 30px;
    }

    .wrappers-animals{
        padding: 80px 30px 76px 30px;
        gap: 30px;
    }

    .container-footer{
        flex-wrap: wrap;
        justify-content: center;
        padding: 13px 29px 0 28px;
        gap: 58px 54px;
    }

    .window-information{
        min-width: 630px;
    }
    
    .window-information img{
        width: 350px;
    }
    
    .card-7,
    .card-8{
        display: none;
    }

    .card-article{
        max-width: 260px;
        margin: 11px 9px 10px 11px;
    }

    .card-pet-name{
       margin-bottom: 8px;
    }

    .card-about{
        font-size: 13px;
        line-height: 110%;
        letter-spacing: 0.06em;;
        max-width: 260px;
        margin: 21px 0 17px 0;
    }
    
    .card-article ul li{
        margin-bottom: 5px;
        margin-top: 0;
    }

    .animals{
        justify-content: center;
        padding-bottom: 10px;
    }

    .location{
        max-width: 302px;
    }

}

/* РАЗРЕШЕНИЕ  меньше 768px */

@media (max-width: 767px) {
    .header{
        width: auto; 
        padding: 30px 50px 30px 10px;
    }

    .hamburger{
        display: inline-block;
        position: relative;
        width: 30px;
        height: 22px;
        transition: all 0.3s;
        margin-left: 40px;
        z-index: 1000;
    }

    .hamburger:before{
        display: inline-block;
        position: absolute;
        content: "";
        border: 1px solid #000000;
        background-color: #000000;
        width: 28px;
        top: 0;
        left: 0;
        transition: all 0.3s;
    }

    .hamburger__line {
        display: inline-block;
        content: "";
        position: absolute;
        border: 1px solid #000000;
        background-color: #000000;
        width: 28px;
        top: 49%;
        transition: all 0.3s;
    }

    .hamburger:after{
        display: inline-block;
        position: absolute;
        content: "";
        border: 1px solid #000000;
        background-color: #000000;
        width: 28px;
        bottom: 0;
        left: 0;
        transition: all 0.3s;
    }

    .header__wrapper{
        justify-content: end;
    }

    .hamburger.open{
        width: 30px;
        height: 30px;
    }

    .hamburger.open .hamburger__line{
        transform: rotate(90deg) translate(0, 1px);
    }

    .hamburger.open:before{
        transform: rotate(90deg) translate(14px, 11px);
    }

    .hamburger.open:after{
        transform: rotate(90deg) translate(-14px, -9px);
    }

    .navigation{
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        justify-content: center;
        top: 0;
        right: -320px;
        width: 320px;
        height: 823px;
        padding: 252px 38px 244px 39px;
        background-color: white;
        z-index: 1;
        gap: 40px;
        transition: 0.5s;
    }
    
    .navigation.open{
        right: 0px;
        transition: 0.5s;
    }

    .navigation.open a{
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;
    }

    .wrappers-animals{
        padding: 30px 10px 42px 10px;
    }

    .title-animals{
        width: 300px;
        font-size: 25px;
        padding-left: 8px;
    }

    .select-pages{
        gap: 0 10px;
    }

    .dog{
        width: 260px;
        height: 135.2px;
        padding-left: 9px;
    }

    .window-information{
        min-width: 240px;
    }
    
    .window-information img{
        display: none;
    }

    .card-4,
    .card-5,
    .card-6{
        display: none;
    }

    .card-pet-name{
        text-align: center;
    }

    .card-breed{
        text-align: center;
    }

    .card-about{
        text-align: justify;
        margin: 21px 0 20px 0;
    }
    
    .card-article ul li{
        align-items: center;
    }

    .closeBtn{
        right: -30px;
        top: -53px;
    }


    .containerFive{
        gap: 11px;
    }

    .title-contacts, .title-locations{
        font-size: 25px;
        text-align: center;
    }

    .contact{
        gap: 12px
    }

    .phone{
        padding-top: 21px;
        padding-left: 22px;
    }

    .email{
        padding-left: 16px;
    }

    .container-footer{
        gap: 18px; 
        padding: 13px 10px 0 10px;
    }

    .title-locations{
        padding-left: 15px;
    }

    .locations{
        gap: 14px;
    }

    .location{
        padding-bottom: 21px;
    }

    .footer-img{
        width: 260px;
        height: 269px;
    }
}